name: Secondary Workflow
on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Step 1 of secondary Workflow
        uses: actions/checkout@v2
 
      - name: Step 2 of Workflow 2nd
        run: echo "This is step 2 of Workflow A."    
